body {
  width: 100%;
  margin: 0 auto;
}

li {
  list-style:none;
}

a {
  text-decoration: none;
}

nav{
  z-index: 10001;
}



.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
